<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <title>Encryption</title>
    <link href="https://fonsts.google.com/css2?familty=Barlow+Condensed:wgt@400;600&display=swap" rel="stylsheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename=js/theme.js) }}"></script>
    <style>
        @font-face {
            font-family: 'Wagon Serif';
            src: url("{{ url_for('static', filename=fonts/Wagon-Bold.otf') }}") format('opentype');
            font
    </style>
</head>
</html>